* {
	box-sizing: border-box;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

[class*="col-"] {
	float: left;
	padding: 15px;
	
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.logo img{
    width: 120px;
    float: left;
    margin-left: 50px;
}

.logo-text{
    color: red;
    font-size: 20px;
    padding-top: 45px;
    
}

.menu {
    float: right;
}

.menu ul li a: hover{
    color: red;
    list-style: none;
}
ul li {
    display: inline;
    padding-right: 80px;
    font-size: 20px;
}


header {
    margin-top: 100px;
	height: 100px;
	background-color: #3c59d5;
	border-radius: px;
}

footer {
	height: 100px;
	background-color: #37abd4;
	border-radius: px;
}

header blockquote{
    text-align: center;
    color: white;
    padding-top: 30px;
    font-style: italic;
    font-size: 2em;
}

footer blockquote{
    text-align: center;
    color: red;
    padding-top: 30px;
    font-size: 1.5em;
}

.col-3 {
    margin-left: 100px;
}



@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}